
<aside class="share">

  <p>Nếu bạn thích bài viết này và nghĩ người khác nên đọc nó, hãy <a href="http://twitter.com/share?text={{page.title}}&amp;url={{ site.url }}{{ page.url }}&amp;via={{ site.twitter_username }}"
  onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">chia sẽ trên Twitter <i class="fa fa-twitter" aria-hidden="true" style="color:#00aced"></i></a> hoặc <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=235');return false;">Facebook <i class="fa fa-facebook-square" aria-hidden="true" style="color:#3b5998"></i></a>.</p>

</aside>
